<header>
  <!--<li>-->
  <!--  <%#= link_to "商品一覧", items_path %>-->
  <!--</li>-->
  <!--<li>-->
  <!--  <%#= link_to "会員一覧", customers_path %>-->
  <!--</li>-->
  <!--<li>-->
  <!--  <%#= link_to "注文履歴一覧", customers_path %>-->
  <!--</li>-->
  <li>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  </li>
</header>

<h1>商品詳細</h1>
<%= form_with model: @newitem, url: admin_item_path do |f| %>
<table class="teble">
  <tbody>
    <td> 
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "300x300" %>
      <% else %>
        <%= image_tag 'no_image', size: "300x300" %>
      <% end %>
    </td>
    <td><%= @item.product_name %></td>
    <td><%= @item.introduction %></td>
    <td><%= @item.price %></td>
    <td>
      <%= link_to "編集する", edit_admin_item_path(@item.id) %>
      <% end %>
    </td>
  </tbody>
</table>

