<header>
  <li>
    <%= link_to "商品一覧", items_path %>
  </li>
  <li>
    <%= link_to "会員一覧", customers_path %>
  </li>
  <!--<li>-->
  <!--  <%#= link_to "注文履歴一覧", customers_path %>-->
  <!--</li>-->
  <li>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  </li>
</header>

<table>
  <h4><%= @customer.full_name %>さんの会員情報編集</h4>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
    <tr>
      <td>会員ID</td>
      <td><%= f.text_field :id %></td>
    </tr>

    <tr>
      <td>氏名</td>
      <td><%= f.text_field :last_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>

    <tr>
      <td>フリガナ</td>
      <td><%= f.text_field :last_name_kana %></td>
      <td><%= f.text_field :first_name_kana %></td>
    </tr>

    <tr>
      <td>郵便番号</td>
      <td><%= f.text_field :postcode %></td>
    </tr>

    <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
    </tr>

    <tr>
      <td>電話番号</td>
      <td><%= f.text_field :phone_number %></td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr>
      <td><%= f.submit '変更を保存' %></td>
    </tr>

  <% end %>
</table>
