<header>
  <li>
    <%= link_to "商品一覧", admin_items_path %>
  </li>
  <!--<li>-->
  <!--  <%#= link_to "会員一覧", customers_path %>-->
  <!--</li>-->
  <!--<li>-->
  <!--  <%#= link_to "注文履歴一覧", customers_path %>-->
  <!--</li>-->
  <li>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  </li>
</header>
<%= form_with model: @customer, url: admin_customer_path do |f| %>

<h4><%= @customer.full_name %>さんの会員詳細</h4>
<div>会員ID<%= @customer.id %></div>
<div>氏名<%= @customer.full_name %></div>
<div>フリガナ<%= @customer.full_name_kana%></div>
<div>郵便番号<%= @customer.postal_code %></div>
<div>住所<%= @customer.address %></div>
<div>電話番号<%= @customer.telephone_number %></div>
<div>メールアドレス<%= @customer.email %></div>
<div>
  <%= link_to "編集する", edit_admin_customer_path(@customer.id) %>
</div>



<% end %>