<header>
  <li>
    <%= link_to 'マイページ', customers_my_page_path  %>
  </li>
  <li>
    <%= link_to "商品一覧", items_path %>
  </li>
  <li>
    <%= link_to "カート", cart_items_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
  </li>
  <h4>ようこそ、<%= current_customer.first_name %>さん！</h4>
</header>

<h1>ショッピングカート</h1>
<table>
  <thead>
    <tr>
      <th>商品画像</th>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>合計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.item.image, size: "50x50" %></td>
        <td><%= cart_item.item.product_name %></td>
        <td><%= cart_item.item.add_tax_price.to_s(:dalimited) %></td>
        <td>
          <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
            <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
            <%= f.submit "変更",class: "btn btn-success" %>
          <% end %>
        </td>
        <td><%= cart_item.subtotal%></td>
        <td><%= @total.round.to_s(:delimited)%></td>
      </tr>
    <% end %>
  </tbody>
</table>