<header>
  <li>
    <%= link_to 'マイページ', customers_my_page_path  %>
  </li>
  <li>
    <%= link_to "商品一覧", items_path %>
  </li>
  <li>
    <%= link_to "カート", cart_items_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
  </li>
  <h4>ようこそ、<%= current_customer.first_name %>さん！</h4>
</header>

<h1>ショッピングカート</h1>

      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>合計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag cart_item.item.image, size: "200x200" %></td>
            <td><%= cart_item.item.product_name %></td>
            <td><%= cart_item.item.add_tax_price.to_s(:dalimited) %></td>
            <!--<td>-->
            <!--  <%#=f.select :amount, options_for_select(:amount, {selected: cart.amount.to_i} %>-->
            <!--<%#=f.submit "変更" %>-->
            <!--</td>-->
          <% end %>
        </tr>
      </tbody>