<!--<header>-->
<!--  <li>-->
<!--    <%#= link_to 'マイページ', customers_my_page_path  %>-->
<!--  </li>-->
<!--  <li>-->
<!--    <%#= link_to "商品一覧", items_path %>-->
<!--  </li>-->
<!--  <li>-->
<!--    <%#= link_to "カート", cart_items_path %>-->
<!--  </li>-->
<!--  <li>-->
<!--    <%#= link_to "ログアウト", destroy_customer_session_path, method: :delete %>-->
<!--  </li>-->
<!--  <h4>ようこそ、<%#= current_customer.first_name %>さん！</h4>-->
<!--</header>-->

<h1>注文情報確認</h1>

<table>
  <thead>
    <tr>
      <th>商品画像</th>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.item.image, size: "50x50" %></td>
        <td><%= cart_item.item.product_name %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.item.add_tax_price.to_s(:dalimited) %></td>
        <td><%= cart_item.subtotal.to_s(:dalimited) %></td>
      </tr>
    <% end %>
      <tr>
        <td>送料</td>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @total.round.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <td><%= @order.total_amount.to_s(:dalimited) %></td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method_i18n%></td>
      </tr>
      <tr>
        <td>お届け先</td>
        <td>
          <h4>〒<%= current_customer.postal_code %></h4>
          <div><%= current_customer.address %></div>
          <div><%= current_customer.full_name %></div>
        </td>
      </tr>
  </tbody>
</table>
<%= form_with model: @order, url: orders_path,method: :post, local: true do |f| %>
  <%= f.hidden_field :shipping_name %>
  <%= f.hidden_field :shipping_address %>
  <%= f.hidden_field :shipping_postal_code %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :total_amount %>
  <%= f.hidden_field :postage %>
  <%= f.submit "注文を確定する" %>
<% end %>