<header>
  <li>
    <%= link_to 'マイページ', customers_my_page_path  %>
  </li>
  <li>
    <%= link_to "商品一覧", items_path %>
  </li>
  <li>
    <%= link_to "カート", cart_items_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
  </li>
  <h4>ようこそ、<%= current_customer.first_name %>さん！</h4>
</header>

<h1>注文情報入力</h1>


<%= form_with model: @order, url: "/orders/confirm", method: :post, local: true do |f| %>

  <h2>支払方法</h2>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

  <h2>お届け先</h2>
  <h4>〒<%= current_customer.postal_code %></h4>
  <div><%= current_customer.address %></div>
  <div><%= current_customer.full_name %></div>

<% end %>

<p><%= link_to "確認画面へ進む", orders_confirm_path %></p>