<header>
  <li>
    <%= link_to 'マイページ', customers_my_page_path  %>
  </li>
  <li>
    <%= link_to "商品一覧", items_path %>
  </li>
  <li>
    <%= link_to "カート", cart_items_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
  </li>
  <h4>ようこそ、<%= current_customer.first_name %>さん！</h4>
</header>

<h1>注文履歴詳細</h1>

<h2>注文情報</h2>
<table>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      <td>〒<%= @order.shipping_postal_code %>
          <%= @order.shipping_address %>
          <%= @order.shipping_name %></td>
      <td><%= @order.payment_method_i18n%></td>

    </tr>
  </tbody>
</table>
<h2>請求情報</h2>
<table>
  <thead>
    <tr>
      <th>商品合計</th>
      <th>配送料</th>
      <th>ご請求額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=  @order.total_amount - @order.postage %></td>
      <td><%= @order.postage %><td/>
      <td><%= @order.total_amount.to_s(:dalimited) %></td>
    </tr>
  </tbody>
</table>

<h2>注文内容</h2>
<table>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.product_name %></td>
      <td><%= order_detail.purchase_price %></td>
      <td><%= order_detail.amount %><td/>
      <td><%= order_detail.subtotal%></td>
    </tr>
    <% end %>
  </tbody>
</table>