<header>
  <li>
    <%= link_to 'マイページ', customers_my_page_path  %>
  </li>
  <li>
    <%= link_to "商品一覧", items_path %>
  </li>
  <!--<li>-->
  <!--  <%#= link_to "カート", cart_items_path %>-->
  <!--</li>-->
  <li>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
  </li>
  <h4>ようこそ、<%= current_customer.first_name %>さん！</h4>
</header>

<h1>顧客商品詳細</h1>

<%= form_with model: @item, url: item_path do |f| %>
    <div><%= image_tag @item.image, size: "300x300" %></div>
    <h4><%= @item.product_name %></h4>
    <div><%= @item.introduction %></div>
    <div><%= @item.add_tax_price.to_s(:dalimited) %></div>
<% end %>